[Unit]
Description=RTPEngine proxy for RTP and other media streams
After=network.target iptables.service redis.service syslog.service
# iptables.service is required only if the RTPEngine uses its kernel module.
# redis.service is required if the Redis server is working on the same machine along with the RTPEngine

[Service]
Type=simple
Environment='CFGFILE=/etc/default/rtpengine.conf'
Environment='CFGFILE=/etc/rtpengine/rtpengine.conf'
Environment='RUNDIR=/var/run/rtpengine'
EnvironmentFile=-$RUNDIR/daemon.conf
Environment='USER=root'
Environment='GROUP=root'
# PIDFile requires an absolute path
Environment='PIDFile=/var/run/rtpengine/rtpengine.pid'
# ExecStart* requires an absolute path for the program
#ExecStartPre=-/bin/mkdir -p $RUNDIR
#ExecStartPre=-/bin/chown -R rtpengine:rtpengine $RUNDIR
ExecStartPre=/etc/rtpengine/rtpengine-start-pre.sh $CFGFILE
ExecStart=/usr/sbin/rtpengine -f --config-file $CFGFILE --pidfile=$PIDFile
ExecStopPost=/etc/rtpengine/rtpengine-stop-post.sh $CFGFILE
Restart=on-failure

[Install]
WantedBy=multi-user.target
